.home {
    display: flex;
    width: 100%;
    height: 100vh; /* Garante que a altura ocupe toda a tela */
    background-image: url('../../componentes/asserts/background.jpeg');
    background-size: cover; /* Garante que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}
.lista {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* Ocupa toda a altura da tela */
    flex-grow: 1; /* Faz a lista expandir automaticamente */
    box-sizing: border-box;
    overflow: hidden; /* Evita barra de rolagem desnecessária */
}

.up {
    display: flex;
    justify-content: flex-end; /* Alinha o botão à direita */
    width: 100%;
    padding: 10px;
}

.conteudo {
    flex-grow: 1; /* Faz a div ocupar todo o espaço restante */
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; /* Permite rolagem caso tenha muitos cards */
}

