.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.login-box {
    border-radius: 10px;
    padding: 30px;
    color: #FA7530;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Certifica que a div pode expandir */
    display: 'flex';
}
.logo-imag{
    width: 200%;
    height: auto;
}
Form.Labe{
    color: #FA7530;
}