.barra-lateral {
    width: 30px;
    height: 100vh;
    background: black;
    transition: width 0.3s;
}

.barra-lateral.expandida {
    width: 200px;
}
button{
    background-color:#000000 ;
    color:#FA7530 ;
    border: none;
}